*{
    height: 1.8rem;
}
body{
    background: linear-gradient(to right, #00319a, #00316a, #02004a);
    width: 20rem;
}
h3{
    text-align: center;
    color: #c0c0e6;
}

#sendMeal {
    margin-left: 7.5rem;
    border-radius: 10px;
    padding: 0.5rem;
    background: rgb(93, 158, 180);
}
#result{
    color: aliceblue;
    text-align: center;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 25px;
}
h1{
    color:lightblue ;
    text-align: center;
    
}
label{
    padding: 1rem;
    color: white;
}
#day{
    text-align: center;
    align-items: center;
    padding: 4px;
}
#meal{
    text-align: center;
    align-items: center;
    padding: 4px;
}